body {
    font-family: 'Roboto', sans-serif;
    margin: 2%;
    padding: 0;
}

header {
    font-size: xx-large;
    font-weight: bold;
}

header hr {
    color:deepskyblue;
    border-color: deepskyblue;
    margin: 0 0 10px 0;
}

header a {
    color:deepskyblue;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav input {
    background-color: orangered;
    border: 0;
    border-radius: 4px;
    color: white;
    padding: 4px;
    margin: 0;
    letter-spacing: 0.1em;
    font-weight: bold;

}

nav input:hover {
    border: grey 2px solid;
}

table {
    width: 100%;
}

th {
    font-weight: bold;
    font-size: x-large;
    padding: 1rem;
    background-color: deepskyblue;
}

td.firstCol {
    font-size: large;
    font-weight: bold;
}

td.secondCol {
    font-size: medium;
}

td.lastCol {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}
