week-02/day-2/Practice/
week-02/day-4/out/
week-02/day-4/src/Solution.java
week-02/day-4/src/test.java
Botond_Balogh_Demo1.pptx
Practiceo/
definition.txt

HomeBrew.pptx  
LG Homebrew.docx
presentation/

.idea/
*.iml
### Java ###
# Compiled class file
*.class
# Log file
*.log
# BlueJ files
*.ctxt
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

Computer basics.docx
myFirstWebsite/
tuesday/
