<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assignee</title>
</head>
<body class="container">
<link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>

<form action="#" th:action="@{'assignees/add'}" th:method="POST">
    <legend>Add assignee here!</legend>
    <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Assignee's name...">
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email" placeholder="Assignee's email..." min="6">
    </div>
    <input type="submit" value="Add assignee" class="btn btn-success">
</form>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>E-mail</th>
        <th>Delete</th>
        <th>EDIT</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="assignee : ${assignees}">
        <td th:text="${assignee.id}"></td>
        <td><a th:href="@{'/assignees/' + ${assignee.id} + '/details'}" th:text="${assignee.name}"></a></td>
        <td th:text="${assignee.email}"></td>
        <td>
            <form action="#" th:action="@{'assignees/' + ${assignee.id} + '/delete'}" th:method="DELETE">
                <input type="submit" value="DELETE" class="btn btn-danger">
            </form>
        </td>
        <td>
            <form action="#" th:action="@{'assignees/' + ${assignee.id} + '/edit'}" th:method="GET">
                <input type="submit" value="EDIT" class="btn btn-primary">
            </form>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/todo}" class="btn btn-info">Back to Todo list</a>


<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>