<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Todos</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body class="container">
<h1>Todos for today</h1>
<a th:href="@{/todo}" class="btn btn-success">All Todos</a>
<a th:href="@{/todo/add}" class="btn btn-success">Add new Todo</a>
<a th:href="@{/assignees}" class="btn btn-info">List of assignees</a>
<form action="#" th:action="@{/todo/search}" method="get">
    <select name="searchBy">
        <option value="0">ID</option>
        <option value="1">TITLE</option>
        <input type="search" name="searchFor">
        <input type="submit" value="Search for Todo">
    </select>
</form>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>URGENT</th>
        <th><a th:href="@{'todo/?isActive=' + ${true}}">DONE</a></th>
        <th>DELETE</th>
        <th>EDIT</th>
        <th>POSTED AT</th>
        <th>ASSIGNED TO</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.id}"></td>
        <td><a th:href="@{'/todo/' + ${todo.id} + '/info'}"><span th:text="${todo.title}"></span></a></td>
        <td th:text="${todo.urgent}"></td>
        <td th:text="${todo.done}"></td>
        <td>
            <form action="#" th:action="@{'todo/delete/' + ${todo.id}}" th:method="DELETE">
                <button type="submit" class="btn btn-danger">DELETE</button>
            </form>
        </td>
        <td>
            <a th:href="@{'/todo/' + ${todo.id} + '/edit'}" class="btn btn-primary">Edit</a>
        </td>
        <td th:text="${todo.date}">
        </td>
        <td th:text="${todo.assignee}"></td>
    </tr>
    </tbody>
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</table>
</body>
</html>