<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Todos for today:</h1>
<a th:href="@{/todo/add}" th:method="GET">Add to ToDo</a>

<table>
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>DONE</th>
        <th>URGENT</th>
    </tr>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.getId()}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.isDone()}"></td>
        <td th:text="${todo.isUrgent()}"></td>
        <td>
            <form action="#" th:action="@{'/todo/'+${todo.getId()}+'/delete'}" th:method="delete">
                <input type="submit" value="DELETE">
            </form>
        </td>
        <td>
        <a th:href="@{'/todo/'+${todo.getId()}+'/delete'}">DELETE</a>
        </td>
        <td>
           <a th:href="@{'/todo/'+${todo.getId()}+'/edit'}">Edit</a>
        </td>
    </tr>
</table>
</body>
</html>