
@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

<form action="add" method="post">
    <label>
        Title
        <input type="text" name="title" required />
    </label>

    <button type="submit">Add Todo</button>
</form>
