<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<header th:fragment="header">
    <ul>
        <li><a th:href="'/index/?name='+${name}" alt="Information about fox">Information</a></li>
        <li><a th:href="'/nutrition/?name='+${name}" alt="Nutrition available for foxes">Nutrition Store</a></li>
        <li><a th:href="'/trick/?name='+${name}" alt="Go to trick center">Go to trick center</a></li>
    </ul>
    <img src="greenfox.png" alt="Green Fox">
</header>

<section th:fragment="information">
    <p th:text="|This is ${fox.getName() + '. Currently living on ' + fox.getFood() + ' and ' + fox.getDrink() + '. He knows ' + fox.getTricks().size() + ' tricks.'}|"></p>
    <h1>Known tricks</h1>
    <div th:if="${fox.getTricks().size()} == 0">
        <p>You know no tricks, yet. Go and learn some.</p>
    </div>
    <div th:if="${fox.getTricks().size()} != 0">
        <ul th:each="trick : ${fox.getTricks()}">
            <li th:text="trick">You know no tricks, yet. Go and learn some.</li>
        </ul>
    </div>
</section>
</body>
</html>