<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<header>
    <a href="/allItems">My Shop</a>
    <hr>
</header>
<nav>
   <a href="/onlyAvailable"><input type="button" name="available" value="ONLINE AVAILABLE"></a>
    <a href="/cheapestFirst"><input type="button" name="cheapest" value="CHEAPEST FIRST"></a>
    <a href="/containsNike"><input type="button" name="nike" value="CONTAINS NIKE"></a>
    <a href="/averageStock"><input type="button" name="average" value="AVERAGE STOCK"></a>
    <a href="/mostExpensive"><input type="button" name="expensive" value="MOST EXPENSIVE AVAILABLE"></a>
</nav>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td class="firstCol" th:text="${item.getName()}"></td>
        <td class="secondCol" th:text="${item.getDescription()}"></td>
        <td class="lastCol" th:text="${item.getPrice() + ' Ft'}"></td>
        <td class="lastCol" th:text="${item.getQuantity()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>