<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<header>
    <h1>My Shop</h1>
    <hr>
</header>
<nav>
    <input type="button" name="available" value="ONLINE AVAILABLE">
    <input type="button" name="cheapest" value="CHEAPEST FIRST">
    <input type="button" name="nike" value="CONTAINS NIKE">
    <input type="button" name="average" value="AVERAGE STOCK">
    <input type="button" name="expensive" value="MOST EXPENSIVE AVAILABLE">
</nav>
</body>
</html>