<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reddit</title>
</head>
<body>

<a th:href="@{/reddit/submit}">Submit new post</a>

<table>
    <caption>Trending post</caption>
    <tr>
        <th>Number of votes</th>
        <th>Like</th>
        <th>Dislie</th>
        <th>Title</th>
        <th>Post Date</th>
    </tr>
    <tr th:each="post:${posts}">
        <td th:text="${post.numberLike}"></td>
        <td>
            <form action="#" th:action="@{'/reddit/' + ${post.id} + '/increase'}" method="post">
                <input type="submit" value="+">
            </form>
        </td>
        <td>
            <form action="#" th:action="@{'/reddit/' + ${post.id} + '/decrease'}" method="post">
                <input type="submit" value="-">
            </form>
        </td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.date}"></td>
        <td>
            <form action="#" th:action="@{'/reddit/' + ${post.id} + '/delete'}" th:method="DELETE">
                <input type="submit" value="x">
            </form>
        </td>
    </tr>
    <tr>
        <td colspan="6">
            <form action="#" th:action="@{'/reddit'}" th:method="GET">
                <input type="number" name="pageNumber" min="1">
                <input type="submit" value="Go to page">
            </form>
        </td>
    </tr>
</table>

</body>
</html>


<!--<form action="#" th:action="@{'/reddit/' + ${post.getId()} + '/increase}'}" th:method="GET">-->
    <!--<input type="submit" value="+">-->
<!--</form>-->