<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reddit</title>
</head>
<body>

<a th:href="@{/reddit/submit}">Submit new post</a>

<table>
    <caption>Trending post</caption>
    <tr th:each="post:${posts}">
        <td th:text="${post.numberLike}"></td>
        <td>
            <a th:href="@{'/reddit/' + ${post.id} + '/increase'}">+</a>
        </td>
        <td>
            <a th:href="@{'/reddit/' + ${post.id} + '/decrease'}">-</a>
        </td>
        <td th:text="${post.title}"></td>
    </tr>
</table>

</body>
</html>


<!--<form action="#" th:action="@{'/reddit/' + ${post.getId()} + '/increase}'}" th:method="GET">-->
    <!--<input type="submit" value="+">-->
<!--</form>-->